@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main-container {
  padding-top: 2em;
}

.chat-body {
  width: calc(50% - 125px);
  border-radius: 12px;
  justify-content: end;
  opacity: 80%;
}

p {
  word-break: break-all;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  
}

/* .text-bubble {
  display: flex;
  justify-items: auto;
  border: solid 1px blue;
  padding: .35rem;
  border-radius: 12px;
  background-color: blue;
  color: white;
  flex-grow: calc(80% + -25%);
  
} */

.card-text {
  flex-shrink: inherit;
}

.btn-login {
  margin-top: 10px;
}


.login-form {
  position: relative;
  width: 35%;
}

.message-container {
  padding: 2em;
  display: flex;
}

.form {
  width: 600px;
  
}

.form-container {
  padding: 1em;
  display: flex;
  
}
.form-input {
  width: 100%;
  flex-grow: calc(200px + -25%);
  flex-wrap: wrap;
}
